<p-confirmDialog header="{{header}}" icon="fa ui-icon-info" width="425" appendTo="body" ref-cd>
  <p-footer>
    <button type="button" pButton icon="ui-icon-cancel" label="Nee" class="secondary" (click)="cd.reject()"></button>
    <button type="button" pButton icon="ui-icon-check" label="Ja" (click)="cd.accept()"></button>
  </p-footer>
</p-confirmDialog>