$primaryColor: lighten(#2F2484, 5%);
$primaryDarkColor: #2F2484;
$primaryLightColor: #9fa8da;
$accentColor: #E4007E;
$accentDarkColor: #ad1457;
$accentLightColor: #f48fb1;
$accentTextColor: #ffffff;

@import '../sass/theme/_theme';
