<div class="footer">
  <div class="card clearfix ui-g">
    <div class="ui-g-12 ui-g-nopad">
      <a href="#">1.00.00</a> &#183;
      Cipal Schaubroeck NV &#183;
      <a href="mailto:{{ appEmail }}">{{ appEmail }}</a> &#183;
      09  389 05 ** &#183;
      <span class="material-icons ui-icon-copyright" style="vertical-align: bottom;"></span> 2017
    </div>
    <!--
    <span class="footer-text-left">
      CSwebshop &#183; Cipal Schaubroeck &#183; 09 389 05 12 &#183;
      <a href="mailto:webshop@cipalschaubroeck.be">webshop@cipalschaubroeck.be</a> &#183; &copy;2017
    </span>
    <span class="footer-text-right">
      <span class="material-icons ui-icon-copyright"></span>
      <span>Alle rechten voorbehouden</span>
    </span>
    -->
  </div>
</div>
